@import url(reset.css);
@import url(font-awesome.min.css);

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-option {
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-size: 14px;
    color: #555555;
    background-color: #fff;
}

.alt-font {
    font-family: 'Montserrat';
    font-weight: normal;
}

.link, .link:hover, .link:focus {
    text-decoration: none;
}

.alt-main-color {
    color: #fff;
}

.row {
    width: 100%;
}

.col {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title-section {
    font-size: 20px;
    margin-bottom: 60px;
    position: relative;
    font-family: 'Montserrat';
    font-weight: normal;
    text-transform: uppercase;
}

.title-section::after {
    height: 2px;
    width: 50px;
    background-color: #555;
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 25px);
    bottom: -30px;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 70px;
}

.section-padg {
    padding: 100px 0;
}



/* #################################################################### */
/* header */

.home {
    background-image: url("../img/head-bg.jpg");
    background-size: cover;
}

.home-section {
    padding: 40px 0 260px 0;
    font-family: 'Montserrat';
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 255px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
}

.header > .link, .nav > .link {
    color: #fff;
}

.nav-link {
    font-size: 14px;
    letter-spacing: 0.025em;
    text-align: center;
    line-height: 24px;
    margin-right: 25px;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.caption-site {
    font-size: 48px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.sub-caption-site {
    font-family: 'Roboto Slab';
    font-size: 20px;
    margin-bottom: 50px;
    text-transform: capitalize;
}

.button-link {
    display: block;
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid #fff;
    padding: 19px 35px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.button-link:hover {
    background-color: #fff;
    color: #c0301c;
    cursor: pointer;
}

/* services */

.services {
    padding: 100px 0;
}

.services-group {
    display: flex;
    flex-direction: row;
}

.service-item {
    flex: 3;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-item:last-child {
    margin-right: 0;
}

.service-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #ddd;
    color: #c0301c;
    vertical-align: middle;
    margin-bottom: 30px;
}

.service-icon:hover {
    color: #fff;
    background-color: #c0301c;
}

.service-icon > .fa {
    font-size: 40px;
    line-height: 90px;
    vertical-align: middle;
}

.service-item:last-child > .service-icon > .fa {
    font-size: 48px;
}

.servise-item-title {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: normal;
    margin-bottom: 25px;
}

.service-text {
    line-height: 24px;
}

/* about */

