@import url(reset.css);
@import url(font-awesome.min.css);

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-option {
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-size: 14px;
    color: #555555;
    background-color: #fff;
    line-height: 24px;
}

.alt-font {
    font-family: 'Montserrat';
    font-weight: normal;
}

.link, .link:hover, .link:focus {
    text-decoration: none;
}

.alt-main-color {
    color: #fff;
}

.row {
    width: 100%;
}

.col {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title-section {
    font-size: 20px;
    margin-bottom: 60px;
    position: relative;
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
}

.title-section::after, .title-line::after {
    height: 2px;
    width: 50px;
    background-color: #555;
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 25px);
    bottom: -30px;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 70px;
}

.section-padg {
    padding: 100px 0;
}

/* #################################################################### */
/* header */

.home {
    background-image: url("../img/head-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.home-section {
    padding: 40px 0 260px 0;
    font-family: 'Montserrat';
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 255px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
}

.header > .link, .nav > .link {
    color: #fff;
}

.nav-link {
    font-size: 14px;
    letter-spacing: 0.025em;
    text-align: center;
    line-height: 24px;
    margin-right: 25px;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.caption-site {
    font-size: 48px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.sub-caption-site {
    font-family: 'Roboto Slab';
    font-size: 20px;
    margin-bottom: 50px;
    text-transform: capitalize;
}

.button-link {
	transition: background-color 0.25s;
    display: block;
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid #fff;
    padding: 19px 35px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.button-link:hover {
    background-color: #fff;
    color: #c0301c;
    cursor: pointer;
}

/* services */

.services {
    padding: 100px 0;
}

.services-group {
    display: flex;
    flex-direction: row;
}

.service-item {
    flex: 3;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-item:last-child {
    margin-right: 0;
}

.service-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #ddd;
    color: #c0301c;
    vertical-align: middle;
    margin-bottom: 30px;
}

.service-icon:hover {
    color: #fff;
    background-color: #c0301c;
}

.service-icon > .fa {
    font-size: 40px;
    line-height: 90px;
    vertical-align: middle;
}

.service-item:last-child > .service-icon > .fa {
    font-size: 48px;
}

.servise-item-title {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: normal;
    margin-bottom: 25px;
}

.service-text {
    line-height: 24px;
}

/* about */

.about-bg {
    background-color: #f8f8f8;
}

.about-content-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}

.about-content-item {
    flex: 1;
    margin-right: 30px;
}

.about-content-item:last-child {
    margin-right: 0;
}

.slider-member {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.previous, .next {
    position: absolute;
    z-index: 9999;
    top: 106px;
    display: flex;
    justify-content: center;
    width: 35px;
    height: 38px;
    /* изменил цвет #ddd на #efefef стрелок на более светлый, т.к. их еле видно */
    background-color: #d7d7d7;
    color: #efefef;
    transition: background-color 0.25s;
    text-decoration: none;
}

.previous {
    left: 0;
}

.next {
    right: 0;;
}

.previous .fa, .next .fa {
    line-height: 38px;
    font-size: 28px
}

.previous:hover, .next:hover {
    background-color: #c0301c;
}

.member-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-pic {
    width: 263px;
    height: 250px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}

.member-hover {
    opacity: 0;
	transition: opacity 0.35s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(136, 136, 136, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.member-pic:hover .member-hover {
    opacity: 1;
	transition: opacity 0.35s;
}

.member-pic:hover .member-hover .member-link {
	transform: translate3d(0, -60px,0);
}

.member-link {
    top: auto;
    bottom: 0;
    display: block;
    height: 28px;
    width: 28px;
    text-align: center;
    color: #fff;
    line-height: 28px;
    transition: transform 0.35s;
}

.member-link:hover {
    background-color: #c0301c;
}

.member-title  {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: normal;
    margin-bottom: 10px;
    font-weight: 400;
    text-shadow: rgba(0,0,0,.45) 0 0 1px;
}

.member-post {
    font-size: 13px;
}

/* works */

.works-sort {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 70px;
}

.sort-item {
    color: inherit;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    margin-right: 25px;
}

.sort-item:last-child {
    margin-right: 0;
}

.sort-item:hover {
    color: #c0301c;
}

.work-item-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.work-item {
    width: 360px;
    height: 320px;
    position: relative;
    overflow: hidden;
    margin-right: 30px;
    margin-bottom: 30px;
}

.work-item:nth-child(3n) {
    margin-right: 0;
}

.work-item:hover .work-item-hover {
    opacity: 1;
	transition: opacity 0.35s;
}

.work-item:hover > .work-item-hover > .caption-group {
    transform: translate3d(0, -100px,0);
    transition: transform 0.35s;
}

.work-item-hover {
    opacity: 0;
	transition: opacity 0.35s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(211, 110, 96, 0.7);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
}

.caption-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.35s;
}

.work-title {
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat';
    margin-bottom: 15px;
}

.work-subtitle {
    text-align: center;
    font-size: 12px;
    margin-bottom: 25px;
}

.work-link {
    text-align: center;
    display: block;
    color: #c0301c;
    width: 100px;
    height: 38px;
    line-height: 38px;
    padding: 0 24px;
    background-color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.work-link .fa {
    margin-left: 12px;
}

/* parallax section */

.parallax {
    background-image: url(../img/paralax-bg.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

.parallax-base {
    background-color: rgba(192,48,28,.6);
    transform: translateZ(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0 100px 0;
}

.parallax-base .button-link {
    padding: 15px 25px;
    font-size: 18px;
    line-height: 18px;
    box-sizing: border-box;
}

.parallax-text {
    font-size: 30px;
    line-height: 44px;
    color: #fff;
}

.parallax-text:last-of-type {
    margin-bottom: 50px;
}

.upper {
    text-transform: uppercase;
}


/* blog */

.post-group {
    display: flex;
    flex-direction: column;
}

.post-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 78px;
}

.post-image {
    min-width: 488px;
    height: 365px;
    overflow: hidden;
    margin-right: 35px;
}

.post-content {
    display: flex;
    flex-direction: column;
}

.post-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.date {
    width: 76px;
    height: 76px;
    outline: 2px solid #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: serif;
    margin-right: 25px;
}

.date-day {
    font-weight: bold;
    font-size: 24px;
}

.date-month {
    font-weight: bold;
    font-size: 14px;
}

.post-link {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.post-link:hover {
    color: #c0301c;
}

.post-caption {
    padding-top: 7px;
}

.post-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.autor {
    font-style: italic;
    font-size: 13px;
    margin-top: 7px;
}

.post-text {
    margin-bottom: 36px;
}

.more {
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    align-self: flex-start;
}

/* clients */

.clients-row {
    background-color: #f8f8f8;
}

.clients-section {
    padding: 70px 0 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-group {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.client-logo {
    margin-right: 60px;
}

.client-logo:last-child {
    margin-right: 0;
}

.slider-content {
    width: 770px;
    text-align: center;

    margin-bottom: 40px;
}

.client-review {
    font-style: italic;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.client-name {
    font-size: 20px;
}

.slider-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slider-link {
    display: block;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
    margin-right: 7px;
}

.slider-link:last-child {
    margin-right: 0;
}

.slider-link:hover {
    background-color: #c0301c;
}

/* contact */

.contact-group {
    display: flex;
}

.contact-info {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.contact-item {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    display: flex;
    position: relative;
    margin-bottom: 35px;
    box-sizing: border-box;
}

.contact-item .fa {
    top: -5px;
    left: -15px;
    position: absolute;
    font-size: 30px;
}

.contact-item .fa-envelope-o {
    top: -3px;
    font-size: 20px;
}

.contact-title {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.contact-description {
    font-size: 12px;
    line-height: 20px;
}

.contact-link {
    text-decoration: none;
    color: inherit;
}

.contact-link:hover {
    color: #c0301c;
}

.alt-contact-link {
    display: block;
}

.form-message {
    flex: 8;
}

.input-control {
    height: 42px;
    padding: 16px;
    background: #fff;
    outline: none;
    color: #555;
    border: 1px solid #555;
    transition: border 0.5s;
    margin: 0 14px 20px 14px;
    box-sizing: border-box;
}

.input-control[type = 'text'] {
    width: 350px;
}

.input-control::-webkit-input-placeholder,
.input-control:-ms-input-placeholder,
.input-control::placeholder {
    text-transform: uppercase;
}

.input-control:hover, .input-control:focus {
    transition: border 0.5s;
    border-color: #c0301c;
}

.star {
    vertical-align: super;
    color: #c0301c;
    font-weight: bold;
}

.textarea {
    height: 100px;
    width: calc(100% - 30px);
    /* width: 100%; */
    resize: none;
    line-height: 24px;
}

.submit {
    text-transform: uppercase;
    cursor: pointer;
    float: left;
    padding: 0 16px;
    height: 42px;
    color: #555;
    font-family: inherit;
    margin-right: 35px;
    transition: background-color 0.35s;
}

.submit:hover {
    transition: background-color 0.35s;
    background-color: #c0301c;
    color: #fff;
}

.form-text {
    line-height: 30px;
    margin-left: 15px;
}

/* footer */

.footer {
    padding: 90px 0;
    background-color: #c0301c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-social-link-group {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 60px;
}

.footer-social-link-group::after {
    background-color: #fff;
}

.footer-social-link {
    display: block;
    height: 35px;
    width: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    margin-right: 14px;
    transition: background-color 0.35s;
}

.footer-social-link:last-child {
    margin-right: 0;
}

.footer-social-link:hover {
    color: #c0301c;
    background-color: #fff;
}

.footer-social-link .fa {
    line-height: 35px;
}

.footer-copyright {
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-transform: uppercase;
}