@import url(reset.css);
@import url(font-awesome.min.css);

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-option {
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-size: 14px;
    color: #555555;
    background-color: #fff;
}

.link, .link:hover, .link:focus {
    text-decoration: none;
}

.alt-main-color {
    color: #fff;
}

.row {
    width: 100%;
}

.col {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    background-image: url("../img/head-bg.jpg");
    background-size: cover;
}

.home-section {
    padding: 40px 0 260px 0;
    font-family: 'Montserrat';
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 255px;
}

.logo {
    font-weight: 700px;
    font-size: 24px;
}

.header > .link, .nav > .link {
    color: #fff;
}